<nav class="bg-dark p-3 sticky-top" data-bs-theme="dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <a href="/" class="nav-link navbar-brand px-2">
        <h1>
          {{appTitle}}
        </h1>
      </a>
      <form class="col-4 col-lg-6 mx-2 mb-0 d-flex" role="search">
        <input
          type="search"
          class="form-control bg-dark"
          data-bs-theme="dark"
          placeholder="Search..."
          aria-label="Search"
        />
        <button class="btn btn-outline-primary ms-1" type="submit">
          {{icon "search"}}
        </button>
      </form>
      {{#if user}}
        <p class="text-sm user-stats lh-1 m-0 text-light">
          <span class="text-info icon-sm me-1">{{icon
              "box"
            }}</span>{{user.ressources.metal}}
          <br />
          <span class="text-info icon-sm me-1">{{icon
              "zap"
            }}</span>{{user.ressources.energy}}
        </p>
        <div class="text-end d-flex">
          <form class="mb-0 me-1" action="/logout">
            <button type="submit" class="btn btn-outline-warning">Log out</button>
          </form>
        </div>
      {{else}}
        <div class="text-end">
          <a class="btn btn-primary" href="/login">Log in</a>
        </div>
      {{/if}}
    </div>
  </div>
</nav>