<main class="container my-4">
  <header class="d-flex align-items-center mb-1">

    {{#if ischangeName}}
      <form
        class="input-group input-group-lg"
        action="/planet/{{planetInfo._id}}/change-name"
        method="POST"
      >
        <input
          type="text"
          name="name"
          class="form-control"
          value="{{planetInfo.name}}"
          placeholder="Choose a name for your planet"
        />
        <a
          class="btn btn-lg btn-outline-secondary"
          role="button"
          href="javascript:history.back()"
        >{{icon "x"}}</a>
        <button type="submit" class="btn btn-lg btn-outline-primary">{{icon
            "check"
          }}</button>
      </form>
    {{else}}
      <h1 class="h1 d-inline-block me-4">Welcome to planet
        {{planetInfo.name}}</h1>
      {{#if isCurrentUserOwnPlanet}}
        <a
          class="btn btn-outline-secondary btn-sm"
          href="?action=changeName"
        >{{icon "edit-2"}}</a>
      {{/if}}
    {{/if}}
  
  </header>
  <div class="mb-4"><h4 class="h4 d-inline-block me-b">Owner : {{planetInfo.owner.username}}</h4></div>
  {{#if noLevelup}}
    <div class="alert alert-danger">
      <p>impossible to level up that building, not enough ressource</p>
    </div>
  {{/if}}
  <div class="buildingList">
    <h2 class="h2 mb-3">
      Buildings
    </h2>
    <div class="row  align-content-stretch flex-wrap">

      {{#each infoBuildings}}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card shadow-sm mb-3 bg-dark">
            <div class="img-container">
              <img
                class="card-img-top"
                src="/images/{{returnImgName this}}"
                alt=""
              />
            </div>
            <div class="card-body text-light">
              <h3 class="card-title">
                {{this.name}}
                <span class="text-body-secondary">lv. {{this.level}}</span>
              </h3>
              <p class="card-text">{{this.description}}</p>
              <table class="table table-sm text-light text-end">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Costs</th>
                    <th scope="col">Production</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th  scope="row">Metal</th>
                    <td><span class="text-info icon-sm">{{icon "box"}}</span></td>
                    <td>{{floorNumber this.cost.metal}}</td>
                    <td>{{floorNumber this.production.metal}}</td>
                  </tr>
                  <tr>
                    <th  scope="row">Energy</th>
                    <td><span class="text-info icon-sm">{{icon "zap"}}</span></td>
                    <td>{{floorNumber this.cost.energy}}</td>
                    <td>{{floorNumber this.production.energy}}</td>
                  </tr>
                </tbody>
              </table>

              {{#if ../isCurrentUserOwnPlanet}}
                <div class="btn-container d-flex justify-content-between">
                  <form action="/buildings/{{this.id}}/destroy" method="POST">
                    <button
                      type="submit"
                      class="btn btn-outline-danger btn-sm"
                    >destroy</button>
                  </form>
                  <div class="btn-group">
                    <form
                      action="/buildings/{{this.id}}/level-up"
                      method="POST"
                    >
                      <button
                        type="submit"
                        class="me-1 btn btn-sm btn-outline-info"
                      >Level up</button>
                    </form>
                    <form action="/buildings/{{this.id}}/harvest" method="POST">
                      <button
                        type="submit"
                        class="btn btn-sm btn-outline-info"
                      >Harvest</button>
                    </form>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}

      {{#if isCurrentUserOwnPlanet}}
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center">
          <div class="shadow-sm mb-2 bg-transparent border-0">
            <div class="card-body text-center">
              <h3 class="card-title">Add new Building</h3>
              <div class="d-flex justify-content-center">
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#add-building-modal"
                  id="new-building-btn"
                  role="button"
                  class="btn btn-lg btn-pill btn-primary"
                >{{icon "plus"}}</button>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

    </div>
  </div>

  {{#if isCurrentUserOwnPlanet}}
    <div id="add-building-modal" class="modal" tabindex="-1">
      <div class="modal-dialog modal-sm">
        <div class="modal-content bg-secondary">
          <div class="modal-header">
            <h5 class="modal-title">Add new building</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <form
            method="POST"
            action="/planet/{{planetInfo._id}}/new-building"
          >
            <div class="modal-body">
              <label class="mb-1" for="building">
                Choose a type of building
              </label>
              <select 
                class="form-select bg-dark text-light" 
                data-bs-theme="dark"
                name="building">
                {{#each buildingTypesInfo}}
                  <option value={{this._id}}>{{this.name}}</option>
                {{/each}}
              </select>
            </div>
            <div class="modal-footer">
              <div class="btn-group">
                <button
                  type="button"
                  class="btn btn-outline-warning"
                  data-bs-dismiss="modal"
                >Cancel</button>
                <button
                  class="btn btn-outline-primary"
                  type="submit"
                >Add</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {{/if}}

</main>