<main class="container my-4">
  <header class="d-flex align-items-center mb-4">

    {{#if ischangeName}}
      <form
        class="input-group input-group-lg"
        action="/planet/{{planetInfo._id}}/change-name"
        method="POST"
      >
        <input
          type="text"
          name="name"
          class="form-control"
          value="{{planetInfo.name}}"
          placeholder="Choose a name for your planet"
        />
        <a
          class="btn btn-lg btn-outline-secondary"
          role="button"
          href="javascript:history.back()"
        >{{icon "x"}}</a>
        <button type="submit" class="btn btn-lg btn-outline-primary">{{icon
            "check"
          }}</button>
      </form>
    {{else}}
      <h1 class="h1 d-inline-block me-4">Welcome to planet
        {{planetInfo.name}}</h1>
        {{#if isCurrentUserOwnPlanet}}
      <a
        class="btn btn-outline-secondary btn-sm"
        href="?action=changeName"
      >{{icon "edit-2"}}</a>
      {{/if}}
    {{/if}}

  </header>
{{#if noLevelup}}
    <div class="alert alert-danger">
      <p>impossible to level up that building, not enough ressource</p>
    </div>
  {{/if}}
  <div class="buildingList">
    <h2 class="h2 mb-3">
      Buildings
    </h2>
    <div class="row">

      {{#each infoBuildings}}
        <div class="col-12 col-md-6">
          <div class="card shadow-sm">
            <div class="img-container">
              <img
                class="card-img-top"
                src="/images/{{returnImgName this}}"
                alt=""
              />
            </div>
            <div class="card-body">
              <h3 class="card-title">
                {{this.name}}
                <span class="text-body-secondary">lv. {{this.level}}</span>
              </h3>
              <p class="card-text">{{this.description}}</p>
              <table class="table table-sm text-end">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Metal</th>
                    <th scope="col">Energy</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th class="text-start" scope="row">Costs</th>
                    <td>{{floorNumber this.cost.metal}}</td>
                    <td>{{floorNumber this.cost.energy}}</td>
                  </tr>
                  <tr>
                    <th class="text-start" scope="row">Production</th>
                    <td>{{floorNumber this.production.metal}}</td>
                    <td>{{floorNumber this.production.energy}}</td>
                  </tr>
                </tbody>
              </table>
              {{#if ../isCurrentUserOwnPlanet}}
              <div class="btn-container d-flex justify-content-between">
                <div class="btn-group">
                  <form action="/buildings/{{this.id}}/level-up" method="POST">
                    <button
                      type="submit"
                      class="me-1 btn btn-sm btn-outline-secondary"
                    >Level up</button>
                  </form>
                  <form action="/buildings/{{this.id}}/harvest" method="POST">
                    <button
                      type="submit"
                      class="btn btn-sm btn-outline-secondary"
                    >Harvest</button>
                  </form>
                </div>
                <form action="/buildings/{{this.id}}/destroy" method="POST">
                  <button
                    type="submit"
                    class="btn btn-outline-danger btn-sm"
                  >destroy</button>
                </form>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}

      {{#if isCurrentUserOwnPlanet}}
        <div class="col-12 col-md-4 d-flex flex-column justify-content-center">
          <div class="card border-0">
            <div class="card-body text-center">
              <h3 class="card-title">Add new Building</h3>
              <div class="d-flex justify-content-center">
                <a
                  href="/planet/{{planetInfo._id}}/new-building"
                  type="button"
                  class="btn btn-lg btn-pill btn-primary stretched-link"
                >{{icon "plus"}}</a>
              </div>
            </div>
          </div>
        </div>
      {{/if}}

    </div>
  </div>
</main>